/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/


body{
	font-family: Helvetica, Arial, sans-serif;
    line-height:1.6;
    padding:5px 30px;
    background: #dddddd;
}

body > div {
	background:#fff;
}
 section p a{
 	color:#1fabe5;
 }

#site_header{
	background: #ff8523;
	padding: 30px 30px;
}

#page_content{
	padding: 20px 40px;
}
nav{
	color:#ff8523;
	padding: 10px 10px;

}
nav a{
	color: white;
	background-color: #ff8523;
	border:1px solid white;
	padding: 5px 20px;
	text-decoration: none;
	border-radius: 5px;

}
h2{
color: #1fabe5;
}

h3{
color: #1fabe5;
}



li{
	font-weight: bold;
}
td{ 
	border: 1px solid #1fabe5; 
}
table{
	padding-bottom: 40px;
	border-bottom: 2px solid #dddddd;
	border-collapse: collapse;
	width: 100%;
}
thead{
	background-color: #1fabe5;
	color: white;
	padding: 10px 10px;
	
}

section{
	padding-bottom: 30px;
	border-bottom: 2px solid #dddddd;
}

form{
	background-color: #dddddd;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;

}
.name{
	background: #ff8523;
	padding: 10px 20px 10px 20px;
	color: white;
	margin-left: 0px;
	margin-right: 15px;
	border-radius: 5px;
}



.city_container{
	padding:10px 0px 10px 0px;
}

.submit_container{
	color: #1fabe5;

}

#bio{
	width:98%;


}
#submit_button{
	background:#1fabe5;
	color: #fff;
	border: 0px;
	padding: 5px 5px;
	border-radius: 5px;
}